<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHttpPlatform"
           path="*"
           verb="*"
           modules="httpPlatformHandler"
           resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath=".\.venv\Scripts\python.exe"
                  arguments="-m uvicorn main:app --host 127.0.0.1 --port %HTTP_PLATFORM_PORT% --root-path /testai"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\httpplatform"
                  startupTimeLimit="60"
                  processesPerApplication="1">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="%APPL_PHYSICAL_PATH%" />
        <environmentVariable name="PYTHONUNBUFFERED" value="1" />
        <environmentVariable name="APP_ROOT_PATH" value="/testai" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
